

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    max-width: 900px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    padding: 40px;
    background-color:cadetblue;
    
  }
  
  #root {
    background-color: rgb(225, 212, 201, 0.8);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  /*loginPage*/

   .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-size: 14px;
}

#login-form {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.input-login {
    width: 200px;
    height: 25px;
    margin: 4px;
}

.button {
    font-family: 'Roboto Mono', monospace;
    padding: 1px 3px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 2px;
    background-color: rgb(22, 130, 155);
    width: 100px;
    height: 30px;
    margin: 8px auto;
    cursor: pointer;
    line-height: 1.3;
    box-shadow: 3px 2px 4px 1px rgba(0,0,0,.4);
}

.button:hover {
 opacity: 70%;
}

.errorlabel p {
  color: red;
}

.loginBtn {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #171313;
  pointer-events: none;
  opacity: 50%;
}

.aboutBtn {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #171313;
}



.startBtn {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #171313;
}

.login-active {
  pointer-events:all;
  color: black;
  opacity: 100%;
}

/*modal*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

.result-modal {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 30%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  padding: 10px 15px;
  min-height: 100px;
}

.result-modal button {
  margin-top: 5px;
  width: 40px;
  height: 20px;
  text-align: center;
}

.modal-closed {
  display: none;
}

/*start page*/
.start-wrapper {
  margin: 100px auto;
  width: 76%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.start-wrapper > * {
  margin-bottom: 30px;
}

.content-field {
  text-align: center;
}

@keyframes text {
  0% {
    transform: translateY(-40px) rotate(180deg);
    opacity: .5;
  }
}

.greeting {
  font-weight: 600;
  color:blueviolet;
  animation: .3s 0s 1 text normal both running linear;
}

.startBtn {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}

.startBtn:active {
  color: black; 
  box-shadow: inset 0 0 0 4px rgba(0,0,0,0.6);
}

header >* {
  margin-right: 10px;
}

header > .button {
  margin: 10px 10px 0 10px;;
}

.header {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

main {
  display: flex;
  margin-top: 10px;
}

.user {
  height: 30px;
  text-align: center;
  color: blueviolet;
}

.users-field {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  border: 1px solid #171313;
}

.user-list {
  width: 300px;
  height: 375px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#search {
  height: 30px;
  
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #171313;
}

.selected-user {
  width: 500px;
  height: 50px;
}

.messages-field {
  width: 500px;
  height: 300px;
  border: 1px solid #171313;
  overflow-y: scroll;
}

#message-form {
  height: 50px;
}

#message {
  height: 30px;
  width: 400px;
  opacity: 50%;
  margin: 10px 10px 0 10px;
  cursor: pointer;

}

#submitBtn {
  height: 30px;
  opacity: 70%;
  cursor: pointer;
  border: none;
}

#submitBtn:hover {
  background-color: cadetblue;

}

.contact-container {
  margin: 5px 0 0;
  cursor: pointer;

}

.contact-container:active {
  color: blueviolet;
}

.contact-container:hover {
  background-color: cadetblue;

}

.logged {
  color: #32CD32;
}

.unlogged {
  color: #FF5733;
}

.selected {
  background-color: cadetblue;
}

#message-form[disabled] {
  pointer-events: none;
}

